//scss stub for singleselect

$font: "Fredericka the Great", cursive;

.SingleSelect {
    font-family: $font;
    text-align: center;

    .question {
        margin: 5rem 0 1rem;
        color: white;
        font-size: 7rem;
        font-weight: normal;
        animation-name: moveInLeft;
        animation-duration: 2s;
    }

    @keyframes moveInLeft {
        0% {
            opacity: 0;
            transform: translateX(-60rem);
        }
        100% {
            opacity: 1;
            transform: translate(0);
        }
    }

    section {
        width: 40vw;
        margin: auto;

        button {
            font-family: $font;
            font-size: 5rem;
            width: 15rem;
            height: 15rem;
            margin: 1rem 1rem;
            border-radius: 10%;
            border-style: none;
            outline: none;
            background-color: black;
            color: white;
            &:hover {
                background-color: white;
                color: black;
            }
            cursor: pointer;
            animation: flip 2s;
        }

        @keyframes flip {
            0% {
                transform: rotateY(180deg);
                text-indent: 200%;
                white-space: nowrap;
                overflow: hidden;
            }
        }
    }
}
