// add global styles here if you want.

@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    overflow-y: hidden;
    border: 2rem ridge rgb(134, 95, 22);
    background-image: url("./images/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
